



<link rel="stylesheet" href="/RealTime/Content/StyleSheet.css">
<center>
    <div style="clear:both" id="pod">
        <h3 style="float:left"  id="h3ST">
            System Transfers
        </h3>
        <h3 style="float:right"  id="h3SD">
            System Data
        </h3>

        
        
        

        
        <style>
            table, tr, td {
                margin: 50px 135px 91px 80px;
            }
        </style>
        <table class="table" Top: 100px" width: 545px; height: 500px" cellpadding="6" cellspacing="7" align="right">
            <tr>
                <th>Demand</th>
                <td>
                    20874 MW
                    <br />
                    
                </td>
            </tr>
            <tr>
                <th>Frequency</th>
                <td>
                    50.06 Hz
                    <br />
                   
                </td>
            </tr>
            <tr>
        </table>


        <table class="table" Top: 100px" width: 545px; height: 500px" cellpadding="6" cellspacing="7" align="left">


            <tr>
                <th>
                    Interconnector
                </th>
                <th>
                    Value
                </th>
            </tr>
                    <tr>
                        <td>
                            <Center>
                                BRITNED
                            </Center>
                        </td>
                        <td>
                            <Center>
                                1065 MW
                            </Center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Center>
                                ELECLINK
                            </Center>
                        </td>
                        <td>
                            <Center>
                                999 MW
                            </Center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Center>
                                EWIC
                            </Center>
                        </td>
                        <td>
                            <Center>
                                -522 MW
                            </Center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Center>
                                IFA
                            </Center>
                        </td>
                        <td>
                            <Center>
                                996 MW
                            </Center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Center>
                                IFA2
                            </Center>
                        </td>
                        <td>
                            <Center>
                                992 MW
                            </Center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Center>
                                MOYLE
                            </Center>
                        </td>
                        <td>
                            <Center>
                                -98 MW
                            </Center>
                        </td>                        
                    </tr>
                    <tr>
                        <td>
                            <Center>
                                NEMOLINK
                            </Center>
                        </td>
                        <td>
                            <Center>
                                999 MW
                            </Center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Center>
                                NSL
                            </Center>
                        </td>
                        <td>
                            <Center>
                                1399 MW
                            </Center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Center>
                                North - South
                            </Center>
                        </td>
                        <td>
                            <Center>
                                250 MW
                            </Center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <Center>
                                Scotland - England
                            </Center>
                        </td>
                        <td>
                            <Center>
                                108 MW
                            </Center>
                        </td>
                    </tr>
            </table>
            


        
        <h3>Date and time of Data Sync</h3>
        <h3>27/08/2023 13:55:00</h3>
        <style>
            table, th, td {
                margin: 50px 135px 91px 190px;
            }
        </style>
        <!-- Date should be GMT -->
    </div>
        <style>
            table#t01 {
                width: 15%;
                background-color: #f1f1c1;
            }

            table#t01 tr:nth-child(even) {
                background-color: #eee;
            }

            table#t01 tr:nth-child(odd) {
                background-color: #fff;
            }

            table#t01 th {
                color: white;
                background-color: blue;
            }
            
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 4px;
            }
            table, th, td {
                margin: 33px -205px -31px -245px;
            }
            
            tr:nth-child(even) {
                background-color: #f8f9fa;
            }
            
            th {
                background-color: #e9ecef;
            }

            /*tbody {
                background-color: white;
            }*/
            #h3ST {
                margin: 10px 277px 10px 5px;
            }
            #h3SD {
                margin: 3px 220px 4px 216px;
            }
            
            #pod h3 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 6px 62px 7px 61px;
        </style>
    <p style="color:red"></p>

</center>